.print-button {
    border: none;
    background: none;
    font-size: 20px; /* Taille de l'icône */
    cursor: pointer;
  }
  .print-button:hover {
    color: #007bff; /* Couleur au survol */
  }
  .badge {
    top: 1px; /* Ajustez la position verticalement */
    background-color: red; /* Couleur de fond du badge */
    color: white; /* Couleur du texte */
    border-radius: 50%; /* Forme ronde */
    padding: 0 0.5em; /* Espacement à l'intérieur */
    font-size: 0.7em; /* Taille de police */
    display: flex; /* Pour centrer le texte */
    justify-content: center; /* Pour centrer le texte */
    align-items: center; /* Pour centrer le texte */
  }
  header {
    width: 100%;
    background-color: #0073e6;
    padding: 7px;
    text-align: center;
    color: white;
  }
  
  .filled {
    border: 2px solid blue;
  }
  
  .divider {
    position: relative;
  }
  
  .divider .border-bottom {
    border-color: #000 !important;
    /* Assurez-vous que la couleur de la bordure est noire */
    border-width: 1px !important;
    /* Assurez-vous que la bordure est de la bonne épaisseur */
  }
  
  .divider h2 {
    background-color: #fff;
    padding: 0 10px;
  }
  
  .divider h3 {
    background-color: #fff;
    padding: 0 10px;
  }
  
  /* Style du titre du formulaire */
  .title {
    font-size: 24px;
    /* Taille de la police */
    font-weight: 500;
    /* Épaisseur de la police */
    text-align: center;
    /* Centre le texte */
    margin-bottom: 10px;
    /* Espace sous le titre */
  }
  
  /* Conteneur pour les détails utilisateur */
  .user-details {
    display: grid;
    /* Utilise le CSS Grid */
    grid-template-columns: 1fr 1fr 1fr;
    /* Trois colonnes de largeur égale */
    gap: 15px;
    /* Espacement de 15px entre les éléments */
    margin-bottom: 20px;
    /* Espace sous les détails utilisateur */
  }
  .user-detail {
    display: grid;
    /* Utilise le CSS Grid */
    grid-template-columns: 1fr 1fr 1fr;
    /* Trois colonnes de largeur égale */
    gap: 15px;
    /* Espacement de 15px entre les éléments */
    margin-bottom: 20px;
    /* Espace sous les détails utilisateur */
  }
  
  /* Style de chaque boîte de saisie */
  .input-box {
    display: flex;
    flex-direction: column;
  }
  
  /* Boîte de saisie pleine largeur */
  .full-width {
    grid-column: span 3;
    /* Prend toute la largeur (3 colonnes) */
  }
    /* Style des labels des champs de saisie */
    .input-box .details {
      display: block;
      /* Affiche le label comme un bloc */
      font-weight: 500;
      /* Épaisseur de la police */
      margin-bottom: 5px;
      /* Espace sous le label */
    }
    
    /* Style des champs de saisie et des sélecteurs */
    .input-box input,
    .input-box select {
      width: 100%;
      /* Champ prend toute la largeur de son conteneur */
      padding: 8px;
      /* Espace intérieur autour du texte */
      box-sizing: border-box;
      /* Inclut padding et border dans la largeur totale */
      border: 1px solid #ccc;
      /* Bordure grise claire */
      border-radius: 5px;
      /* Coins arrondis */
      outline: none;
      /* Supprime le contour par défaut au focus */
      font-size: 16px;
      /* Taille de la police */
    }
  /* Style pour le bouton */
  .bbtn-primary {
    background-color: #0073e6; /* Couleur de fond */
    color: white; /* Couleur du texte */
    border-color: #0073e6; /* Bordure de la même couleur que le fond */
    padding: 10px 20px; /* Ajoute du padding (espacement intérieur) */
    font-size: 16px; /* Taille du texte */
    border-radius: 10px; /* Coins arrondis */
    cursor: pointer; /* Change le curseur en pointeur sur le bouton */
    width: 150px; /* Largeur du bouton */
    height: 50px; /* Hauteur du bouton */
  justify-content: center;
  margin-left: 360px;
  margin-bottom: 20px;
  }
  
  
  .btn-secondary {
    color: white; /* Couleur du texte */
    padding: 10px 20px; /* Ajoute du padding (espacement intérieur) */
    font-size: 16px; /* Taille du texte */
    border-radius: 10px; /* Coins arrondis */
    cursor: pointer; /* Change le curseur en pointeur sur le bouton */
    width: 150px; /* Largeur du bouton */
    height: 50px; /* Hauteur du bouton */
  justify-content: center;
  margin-bottom: 20px;
  margin-right: 340px;
  }
  .center-container {
    display: flex; /* Utiliser Flexbox pour aligner les éléments */
    justify-content: space-between; /* Espacer les boutons */
    align-items: center; /* Alignement vertical centré */
    margin-top: 50px; /* Ajouter un peu d'espace au-dessus si nécessaire */
  }
  
  
  .modal-lg {
    max-width: 90%; /* Ajuster la taille à 90% de l'écran */
  }
  .modal-body {
    max-height: 60vh; /* Limiter la hauteur et ajouter un défilement si nécessaire */
    overflow-y: auto;
  }
  