<div class="container-fluid" >
  <div class="row align-items-center"
  style="background-color: #fff; height: 55px;">    <div class="col d-flex justify-content-between align-items-center">
      <h1 class="mb-0"><strong>Licence 3</strong></h1>
      <div class="comp d-flex align-items-center">
        <button class="print-button" aria-label="Imprimer">
          <i class="fas fa-bell" [routerLink]="['/rappel']"></i>
        </button>
        &nbsp; &nbsp;&nbsp; &nbsp;
        <span class="mr-2">COMPTABLE : &nbsp; &nbsp;</span>
        <a href="javascript:void(0);" [routerLink]="['/profil']">
          <i class="fas fa-user"></i>
        </a>
      </div>
    </div>
  </div>
</div>
<pre></pre>
<pre></pre><pre></pre>
<pre></pre><pre></pre>
<header >
  <div class="container">
    <div class="row align-items-center">
      <div class="col-auto">
        <i class="fas fa-filter"></i>
      </div>
      <div class="col-auto" style="color: blue;">
        <span>Filtre par :</span>
      </div>
      <div class="col">
        <div class="d-flex align-items-center search-field">
          <label for="nom" class="me-2">Nom:</label>
          <input type="text" id="nom" class="form-control" placeholder="Nom de l'etudiant">
        </div>
      </div>
      <div class="col">
        <div class="d-flex align-items-center search-field">
          <label for="prenom" class="me-2">Prénom:</label>
          <input type="text" id="prenom" class="form-control" placeholder="Prénom de l'etudiant">
        </div>
      </div>
      <div class="col-auto">
        <button class="btn btn-primary">CHERCHER</button>
      </div>
      <div class="col-auto ms-2"> <!-- Ajoute une marge à gauche du bouton d'impression -->
        <button class="print-button" aria-label="Imprimer">
          <i class="fas fa-print"></i> <!-- Icône d'impression Font Awesome -->
        </button>
      </div>
    </div>
  </div>
</header>
 
<pre></pre>
<pre></pre>
<pre></pre>

<section class="home-section">
<div class="home-content">
  <div class="sales-boxes position-relative">

    <div class="recent-sales box">
      <pre></pre>
      <div class="sales-details">
        <table class="table">
          <thead>
            <tr>
              <th>Matricule</th>
              <th>Nom</th>
              <th>Prenoms</th>
              <th>Sexe</th>
              <th>Filiere</th>
              <th>Modalites</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let student of students">
              <td>{{ student.etudiantMatricule }}</td>
              <td>{{ student.etudiantNom }}</td>
              <td>{{ student.etudiantPrenom }}</td>
              <td>{{ student.etudiantEmail }}</td>
              <td>{{ student.etudiantSexe }}</td>
              <td>{{ student.filiere }}</td>
              <td>{{ student.modalitesPaiement }}</td>
               <td>
                <!-- Bouton pour afficher les détails -->
                <button (click)="showDetails(student)" type="button" class="btn btn-right">
                  <i class="fas fa-list-alt"></i>
                </button>
                <!-- Bouton pour éditer -->
                <button (click)="editStudent(student)" type="button" class="btn btn-right">
                  <i class="fas fa-pencil-alt"></i>
                </button>
                <!-- Bouton pour supprimer -->
                <button (click)="deleteStudent(student.etudiantMatricule)" type="button" class="btn btn-danger">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  

  
    <div class="container bg-primary text-white p-3 rounded position-absolute superimposed-container">
      <div class="row justify-content-between align-items-center">
        <div class="col-12 col-md-auto">
          <span class="h4">LISTES DES ETUDIANTS DE LICENCE DU SOIR </span>
        </div>
        <div class="col-12 col-md-auto mt-3 mt-md-0">
          <button class="btn btn-light newUser" [routerLink]="['/parcours']" style="color: black;">
            <i class="fas fa-arrow-left"></i>&nbsp; retour
          </button>
        </div>
      </div>
    </div>
  
    
    
  </div>
</div>
</section>





<!-- Modal pour afficher les détails -->
<div id="detailsModal" class="modal">
  <div class="modal-content">
    <span (click)="closeModal()" class="close">&times;</span>
    <h2>Détails de l'étudiant</h2>
    <div *ngIf="selectedStudent">
      <p><strong>Matricule :</strong> {{ selectedStudent.etudiantMatricule }}</p>
      <p><strong>Nom :</strong> {{ selectedStudent.etudiantNom }}</p>
      <p><strong>Prénom :</strong> {{ selectedStudent.etudiantPrenom }}</p>
      <p><strong>Email :</strong> {{ selectedStudent.etudiantEmail }}</p>
      <p><strong>Adresse :</strong> {{ selectedStudent.etudiantAdresse }}</p>
      <p><strong>Téléphone :</strong> {{ selectedStudent.etudiantTelephone }}</p>
      <p><strong>Date de Naissance :</strong> {{ selectedStudent.etudiantDateNaissance | date }}</p>
      <p><strong>Lieu de Naissance :</strong> {{ selectedStudent.etudiantLieuNaissance }}</p>
      <p><strong>Nationalité :</strong> {{ selectedStudent.etudiantNationalite }}</p>
      <p><strong>Sexe :</strong> {{ selectedStudent.etudiantSexe }}</p>
      <p><strong>Série du Bac :</strong> {{ selectedStudent.etudiantSerieBac }}</p>
      <p><strong>Mention Bac :</strong> {{ selectedStudent.etudiantMentionBac }}</p>
      <p><strong>Autres Diplômes :</strong> {{ selectedStudent.etudiantAutresDiplomes }}</p>
      <p><strong>Année du Bac :</strong> {{ selectedStudent.etudiantAnneeBac }}</p>
      <p><strong>Pays du Bac :</strong> {{ selectedStudent.etudiantPaysBac }}</p>
      <p><strong>Établissement Provenance :</strong> {{ selectedStudent.etudiantEtablissementProvenance }}</p>
      <p><strong>Date d'Inscription :</strong> {{ selectedStudent.etudiantDateInscription | date }}</p>
      <p><strong>Nom du Tuteur :</strong> {{ selectedStudent.tuteurNom }}</p>
      <p><strong>Prénom du Tuteur :</strong> {{ selectedStudent.tuteurPrenom }}</p>
      <p><strong>Profession du Tuteur :</strong> {{ selectedStudent.tuteurProfession }}</p>
      <p><strong>Organisme du Tuteur :</strong> {{ selectedStudent.tuteurOrganisme }}</p>
      <p><strong>Adresse du Tuteur :</strong> {{ selectedStudent.tuteurAdresse }}</p>
      <p><strong>Email du Tuteur :</strong> {{ selectedStudent.tuteurEmail }}</p>
      <p><strong>Téléphone Bureau du Tuteur :</strong> {{ selectedStudent.tuteurTelBureau }}</p>
      <p><strong>Téléphone Domicile du Tuteur :</strong> {{ selectedStudent.tuteurTelDomicile }}</p>
      <p><strong>Cellulaire du Tuteur :</strong> {{ selectedStudent.tuteurCel }}</p>
      <p><strong>Parcours :</strong> {{ selectedStudent.parcours }}</p>
      <p><strong>Filière :</strong> {{ selectedStudent.filiere }}</p>
      <p><strong>Niveau :</strong> {{ selectedStudent.niveau }}</p>
      <p><strong>Boursier :</strong> {{ selectedStudent.boursier }}</p>
      <p><strong>Montant Final :</strong> {{ selectedStudent.montantFinal }}</p>
      <p><strong>Modalités de Paiement :</strong> {{ selectedStudent.modalitesPaiement }}</p>
    </div>
  </div>
</div>
