<div>
    <div class="modal-body">
        <div class="printable-section">
            <!-- Contenu de votre fiche de renvoi -->
            <table class="table">
                <thead>
                    <tr>
                        <th>Matricule</th>
                        <th>Nom</th>
                        <th>Prénoms</th>
                        <th>Parcours</th>
                        <th>Montant Final</th>
                        <th>Reste</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let paiement of filteredPaiements">
                        <td>{{ paiement.student.matricule }} </td>
                        <td>{{ paiement.student.nom }} </td>
                        <td>{{ paiement.student.prenom }}</td>
                        <td>{{ paiement.student.parcours }}</td>
                        <td>{{ paiement.student.montantFinal }} FCFA</td>
                        <td>{{ paiement.reste }} FCFA</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" >Fermer</button>
        <button type="button" class="btn btn-primary" (click)="printFiche()">Imprimer</button>
    </div>
</div>