<div class="container-fluid" >
  <div class="row align-items-center"
  style="background-color: #fff; height: 55px;">    <div class="col d-flex justify-content-between align-items-center">
      <h1 class="mb-0"><strong>Etudiant de BTS</strong></h1>
      <div class="comp d-flex align-items-center">
        <button class="print-button" aria-label="Imprimer">
          <span class="badge">{{ nombreRappels }}</span>
          <i class="fas fa-bell" [routerLink]="['/rappel']"></i>
        </button>
        &nbsp; &nbsp;&nbsp; &nbsp;
        <span class="mr-2">COMPTABLE : &nbsp; &nbsp;</span>
        <a href="javascript:void(0);" [routerLink]="['/profil']">
          <i class="fas fa-user"></i>
        </a>
      </div>
    </div>
  </div>
</div>


<section class="home-section">
    <div class="home-content">
      <div class="overview-boxes">
        <div class="box">
          <div class="image" width="10px">
            <img [routerLink]="['/bts1']" src="assets/bts/bts1.png" alt="bts 1" class="clickable-image">
          </div>
        </div>
        <div class="box">
          <div class="image">
            <img [routerLink]="['/bts2']" src="assets/bts/bts2.png"alt="bts 2" class="clickable-image">
          </div>
        </div>
      </div>
    </div>
  </section>
  
  


  <pre></pre>
  <pre></pre><pre></pre>
  <section class="home-section">
    <div class="home-content">
      <div class="sales-boxes position-relative">
        <!-- Background container -->
        <div class="recent-sales box">
          <pre></pre>
          <div class="sales-details">
            <table class="table">
              <thead>
                <tr>
                      <th>Filiere</th>
                      <th>Niveau</th>
                      <th>Effectif Total</th>
                      <th>Garcons</th>
                      <th>Filles</th>
                </tr>
              </thead>
              
              <tbody>
                <tr *ngFor="let stat of statistiques">
                  <td>{{ stat.nom }}</td>
                  <td>{{ stat.niveau }}</td>
                  <td>{{ stat.totalEtudiants }}</td>
                <td>{{ stat.totalGarcons }}</td>
                <td>{{ stat.totalFilles }}</td>
                </tr>
              </tbody>
              
            </table>
          </div>
        </div>
      
  
      
        <!-- Superimposed container -->
        <div class="container bg-primary text-white p-3 rounded position-absolute superimposed-container">
          <div class="row justify-content-between align-items-center">
            <div class="col-12 col-md-auto">
              <span class="h4">STATISTIQUES DES ETUDIANTS DE BTS</span>
            </div>
            <div class="col-12 col-md-auto mt-3 mt-md-0">
              <button class="btn btn-light newUser" [routerLink]="['/parcours']" style="color: black;">
                <i class="fas fa-arrow-left"></i>&nbsp; retour
              </button>
            </div>
          </div>
        </div>
      
        
        
      </div>
    </div>
  </section>
  