

<div class="container-fluid h-100 border-dark">
    <div class="row h-100 no-gutters">
     
        <div class="col-lg-2 col-md-4  " style="height: 100%; background-color: rgb(200, 204, 198)">
            <app-menu class="h-100"></app-menu>
        </div>

        <div class="col-lg-10 col-md-8 col-sm-12 d-flex flex-column">
            <section  
            class="flex-grow-1 content-area"  style="background-color: white">
                <router-outlet></router-outlet>
            </section>
          
        </div>
        
        
    </div>
</div>