<div class="container-fluid">
    <div class="row align-items-center" style="background-color: #fff; height: 55px;">
        <div class="col d-flex justify-content-between align-items-center">
            <h1 class="mb-0"><strong>Ajouter Etudiant</strong></h1>
            <div class="comp d-flex align-items-center">
                <button class="print-button" aria-label="Imprimer">
                    <i class="fas fa-bell" [routerLink]="['/rappel']"></i>
                </button>
                &nbsp; &nbsp; &nbsp;
                <span class="mr-2">COMPTABLE : &nbsp; &nbsp;</span>
                <a href="javascript:void(0);" [routerLink]="['/profil']">
                    <i class="fas fa-user"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<header>
    <h1>FORMULAIRE D'ENREGISTREMENT D'UN NOUVEL ÉTUDIANT</h1>
</header>

<section class="home-section">
    <div class="home-content">
        <div class="container">
            <form (ngSubmit)="onSubmit()">
                <div class="container my-4">
                    <div class="d-flex align-items-center divider">
                        <div class="flex-grow-1 border-bottom border-dark"></div>
                        <h3 class="mx-3 mb-0">INFORMATIONS DE L'ETUDIANT</h3>
                        <div class="flex-grow-1 border-bottom border-dark"></div>
                    </div>
                </div>
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Nom</span>
                        <input type="text" [(ngModel)]="student.etudiantNom" name="etudiantNom" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Prénoms</span>
                        <input type="text" [(ngModel)]="student.etudiantPrenom" name="etudiantPrenom" required>
                    </div>
                    <div class="input-box">
                        <span class="details">E-mail</span>
                        <input type="email" [(ngModel)]="student.etudiantEmail" name="etudiantEmail" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Date de naissance</span>
                        <input type="date" [(ngModel)]="student.etudiantDateNaissance" name="etudiantDateNaissance"
                            required>
                    </div>
                    <div class="input-box">
                        <span class="details">Lieu de naissance</span>
                        <input type="text" [(ngModel)]="student.etudiantLieuNaissance" name="etudiantLieuNaissance"
                            required>
                    </div>
                    <div class="input-box">
                        <span class="details">Nationalité</span>
                        <input type="text" [(ngModel)]="student.etudiantNationalite" name="etudiantNationalite"
                            required>
                    </div>
                    <div class="input-box">
                        <span class="details">Sexe</span>
                        <select [(ngModel)]="student.etudiantSexe" name="etudiantSexe" required>
                            <option value="" disabled selected>Choisir...</option>
                            <option value="masculin">Masculin</option>
                            <option value="feminin">Féminin</option>
                        </select>
                    </div>
                    <div class="input-box">
                        <span class="details">Baccalauréat (Série)</span>
                        <input type="text" [(ngModel)]="student.etudiantSerieBac" name="etudiantSerieBac" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Année du Bac</span>
                        <input type="text" [(ngModel)]="student.etudiantAnneeBac" name="etudiantAnneeBac" required
                            pattern="\d{4}">
                    </div>

                    <div class="input-box">
                        <span class="details">Mention au bac</span>
                        <select [(ngModel)]="student.etudiantMentionBac" name="etudiantMentionBac" required>
                            <option value="" disabled selected>Choisir...</option>
                            <option value="masculin">Passable</option>
                            <option value="feminin">Assez-Bien</option>
                            <option value="feminin">Bien</option>
                            <option value="feminin">Trés-Bien</option>

                        </select>
                    </div>

                    <div class="input-box">
                        <span class="details">Autres diplômes</span>
                        <input type="text" [(ngModel)]="student.etudiantAutresDiplomes" name="etudiantAutresDiplomes">
                    </div>
                    <div class="input-box">
                        <span class="details">Année d'obtention du bac</span>
                        <input type="text" [(ngModel)]="student.etudiantAnneeBac" name="etudiantAnneeBac" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Pays d'obtention du bac</span>
                        <input type="text" [(ngModel)]="student.etudiantPaysBac" name="etudiantPaysBac" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Établissement de provenance</span>
                        <input type="text" [(ngModel)]="student.etudiantEtablissementProvenance"
                            name="etudiantEtablissementProvenance" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Date d'inscription</span>
                        <input type="date" [(ngModel)]="student.etudiantDateInscription" name="etudiantDateInscription"
                            required>
                    </div>
                </div>

                <div class="container my-4">
                    <div class="d-flex align-items-center divider">
                        <div class="flex-grow-1 border-bottom border-dark"></div>
                        <h3 class="mx-3 mb-0">INFORMATIONS DU TUTEUR OU PARENT</h3>
                        <div class="flex-grow-1 border-bottom border-dark"></div>
                    </div>
                </div>
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Nom du Tuteur</span>
                        <input type="text" [(ngModel)]="student.tuteurNom" name="tuteurNom" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Prénom du Tuteur</span>
                        <input type="text" [(ngModel)]="student.tuteurPrenom" name="tuteurPrenom" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Profession du Tuteur</span>
                        <input type="text" [(ngModel)]="student.tuteurProfession" name="tuteurProfession" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Organisme Employeur du Tuteur</span>
                        <input type="text" [(ngModel)]="student.tuteurOrganisme" name="tuteurOrganisme" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Adresse du Tuteur</span>
                        <input type="text" [(ngModel)]="student.tuteurAdresse" name="tuteurAdresse" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Email du Tuteur</span>
                        <input type="email" [(ngModel)]="student.tuteurEmail" name="tuteurEmail" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Téléphone Bureau</span>
                        <input type="text" [(ngModel)]="student.tuteurTelBureau" name="tuteurTelBureau" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Téléphone Domicile</span>
                        <input type="text" [(ngModel)]="student.tuteurTelDomicile" name="tuteurTelDomicile" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Téléphone Mobile</span>
                        <input type="text" [(ngModel)]="student.tuteurCel" name="tuteurCel" required>
                    </div>
                </div>

                <div class="container my-4">
                    <div class="d-flex align-items-center divider">
                        <div class="flex-grow-1 border-bottom border-dark"></div>
                        <h3 class="mx-3 mb-0">INFORMATIONS RELATIVES À LA FILIÈRE ET AU PAIEMENT</h3>
                        <div class="flex-grow-1 border-bottom border-dark"></div>
                    </div>
                </div>
                <div class="user-details">
                    
                    <div class="input-box">
                        <span class="details">Parcours</span>
                        <select [(ngModel)]="student.parcours" name="parcours" required>
                            <option value="" disabled selected>Choisir un parcours...</option>
                            <option *ngFor="let parcours of parcoursList" [value]="parcours">{{ parcours }}</option>
                        </select>
                    </div>
                    
                    <div class="input-box">
                        <span class="details">Filière</span>
                        <select [(ngModel)]="student.filiere" name="filiere" required>
                            <option value="" disabled selected>Choisir une filière...</option>
                            <option *ngFor="let filiere of filiereList" [value]="filiere">{{ filiere }}</option>
                        </select>
                    </div>
                    
                    <div class="input-box">
                        <span class="details">Niveau</span>
                        <select [(ngModel)]="student.niveau" name="niveau" required>
                            <option value="" disabled selected>Choisir...</option>
                            <option value="PREMIERE_ANNEE">Première Année</option>
                            <option value="DEUXIEME_ANNEE">Deuxième Année</option>
                            <option value="TROISIEME_ANNEE">Troisième Année</option>
                        </select>
                    </div>
                    
                    <div class="input-box">
                        <span class="details">Boursier</span>
                        <select [(ngModel)]="student.boursier" name="boursier" required>
                            <option value="" disabled selected>Choisir...</option>
                            <option value="Oui">Oui</option>
                            <option value="Non">Non</option>
                            <option value="Compassion">Compassion</option>
                        </select>
                    </div>
                    <div class="input-box">
                        <span class="details">Montant Final</span>
                        <input type="text" [(ngModel)]="student.montantFinal" name="montantFinal" readonly>
                    </div>
                    <div class="input-box">
                        <span class="details">Modalités de Paiement</span>
                        <select [(ngModel)]="student.modalitesPaiement" name="modalitesPaiement" required>
                            <option value="" disabled selected>Choisir...</option>
                            <option value="TOTALITE">Totalité</option>
                            <option value="TROIS_TRANCHES">Trois Tranches</option>
                            <option value="SEPT_TRANCHES">Sept Tranches</option>
                        </select>
                    </div>
                </div>


                <div class="center-container">
                    <div class="button-save">
                        <button type="submit" class="bbtn-primary btn-lg">ENREGISTRER</button>
                    </div>
                    <div class="reins">
                        <button type="reset" class="btn btn-secondary">Réinitialiser</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</section>