<div class="container-fluid">
  <div class="row align-items-center" style="background-color: #fff; height: 55px;">
    <div class="col d-flex justify-content-between align-items-center">
      <h1 class="mb-0"><strong>Scolarite</strong></h1>
      <div class="comp d-flex align-items-center">
        <button class="print-button" aria-label="Imprimer">
          <i class="fas fa-bell" [routerLink]="['/rappel']"></i>
        </button>
        &nbsp; &nbsp;&nbsp; &nbsp;
        <span class="mr-2">COMPTABLE : &nbsp; &nbsp;</span>
        <a href="javascript:void(0);" [routerLink]="['/profil']">
          <i class="fas fa-user"></i>
        </a>
      </div>
    </div>
  </div>
</div>
<pre></pre>
<pre></pre>
<pre></pre>
<pre></pre>
<pre></pre>
<header>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-auto">
        <i class="fas fa-filter"></i>
      </div>
      <div class="col-auto" style="color: blue;">
        <span>Filtre par :</span>
      </div>
      <div class="col">
        <div class="d-flex align-items-center search-field">
          <label for="nom" class="me-2">Filiere:</label>
          <select matNativeControl required>
            <option value="" disabled selected>Choisir...</option>
            <option value="volvo">Genie Logiciel</option>
            <option value="saab">Système Réseau</option>
            <option value="mercedes">Comptabilité</option>
            <option value="audi">Audit</option>
          </select>
        </div>
      </div>
      <div class="col" >
        <div class="d-flex align-items-center search-field">
          <label for="prenom" class="me-2">Niveau :</label>
          <select matNativeControl required  style="width: 100px;">
            <option value="" disabled selected>Choisir...</option>
            <option value="volvo">1</option>
            <option value="saab">2</option>
            <option value="mercedes">3</option>
          </select>
        </div>
      </div>
      <div class="col" >
        <div class="d-flex align-items-center search-field">
          <label for="prenom" class="me-2">Statut :</label>
          <select matNativeControl required  style="width: 160px;">
            <option value="" disabled selected>Choisir...</option>
            <option value="volvo"> etudiant à jour</option>
            <option value="saab"> etudiant non à jour </option>
          </select>
        </div>
      </div>



      <div class="col-auto">
        <button class="btn btn-primary">CHERCHER</button>
      </div>
      <div class="col-auto ms-2"> <!-- Ajoute une marge à gauche du bouton d'impression -->
        <button (click) = "printEtudiant()" class="print-button" aria-label="Imprimer">
          <i class="fas fa-print"></i> <!-- Icône d'impression Font Awesome -->
        </button>
      </div>
    </div>
  </div>
</header>
<pre></pre>
<pre></pre>
<pre></pre>

<section class="home-section">
  <div class="home-content">
    <div class="sales-boxes position-relative">

      <div class="recent-sales box">
        <pre></pre>
        <div class="sales-details">
          <table class="table">
            <thead>
              <tr>
                <th>Matricule</th>
                <th>Nom</th>
                <th>Prenoms</th>
                <th>Parcours</th>
                <th>montantFinal</th>
                <th>Reste</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let paiement of paiements">
                <td>{{ paiement.student.matricule }} </td>
                <td>{{ paiement.student.nom }} </td>
                <td>{{ paiement.student.prenom }}</td>
                <td>{{ paiement.student.parcours }}</td>
                <td>{{ paiement.student.montantFinal }} FCFA</td>
                <td>{{ paiement.reste }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>



      <div class="container bg-primary text-white p-3 rounded position-absolute superimposed-container">
        <div class="row justify-content-between align-items-center">
          <div class="col-12 col-md-auto">
            <span class="h4">LISTES DES PAIEMENTS</span>
          </div>
          <div class="col-12 col-md-auto mt-3 mt-md-0">
            <button class="btn btn-primary newUser" data-bs-toggle="modal" data-bs-target="#userForm"
              style="color: black;">
              <i class="fas fa-plus"> &nbsp; Ajouter Scolarite</i>
            </button>
          </div>
        </div>
      </div>
      <div class="modal fade" id="userForm">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">

            <div class="modal-header">
              <h1 class="modal-title">
                Formulaire de paiement de Scolarité
              </h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

              <form action="#" id="myForm">

                <div class=" imgholder">
                  <img src="assets/logo.png" height="100px" width="200px" >
                </div>

                <div class="inputField">
                  <div>
                    <label for="name">Nom:</label>
                    <input type="text" [(ngModel)]="student.etudiantNom" name="etudiantNom" required>
                  </div>
                  <div>
                    <label for="name">Prénom:</label>
                    <input type="text" [(ngModel)]="student.etudiantPrenom" name="etudiantPrenom" required>
                  </div>
                  <div>
                    <label for="name">Montant:</label>
                    <input type="text" [(ngModel)]="paiement.montantActuel" name="montantActuel" required>
                  </div>

                  <div class="input-box">
                    <label for="date">Date de paiement</label><br>
                    <input type="date" [(ngModel)]="paiement.datePaiement" name="datePaiment" required>
                  </div>
                </div>

              </form>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" form="myForm" class="btn btn-primary submit">Submit</button>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>

<!-----
<section class="home-section">
  <div class="home-content">
    <div class="overview-boxes">

      <div class="box">
        <div class="image" width="10px">
          <img [routerLink]="['/Scolarite licence du jour']" src="assets/parcours/ldj.png" alt="Licence 1"
            width="400px">
        </div>
      </div>


      <div class="box">
        <div class="image">
          <img [routerLink]="['/Scolarite BTS']" src="assets/parcours/bts.png" alt="bts">
        </div>
      </div>

      <div class="box">
        <div class="image">
          <img [routerLink]="['/Scolarite licence du soir']" src="assets/parcours/lds.png" alt="Licence du soir">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hom-section">
  <div class="sale-boxes">
    <div class="recents-sales box">
      <div class="heade">
        <span>STATISTIQUES DES PAIEMENTS DE SCOLARITÉ</span>
        <button class="btn btn-primary newUser" data-bs-toggle="modal" data-bs-target="#userForm" style="color: black;">
          <i class="fas fa-plus"> &nbsp; Ajouter Scolarite</i>
        </button>
      </div>
      <div class="sale-details">
        <table class="table">
          <thead>
            <tr>
              <th>Parcours</th>
              <th>Effectif total</th>
              <th>Etudiant en regle</th>
              <th>Etudiant avec des impayés</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>


  --Modal Form--
  <div class="modal fade" id="userForm">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">

        <div class="modal-header">
          <h1 class="modal-title">
            Formulaire de paiement de Scolarité
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">

          <form action="#" id="myForm">

            <div class=" imgholder">
              <img src="assets/def.png" height="100px" width="200px" style="background-color: black;">
            </div>

            <div class="inputField">
              <div>
                <label for="name">Nom:</label>
                <input type="text" name="" id="nom" required>
              </div>
              <div>
                <label for="name">Prénom:</label>
                <input type="text" name="" id="prenom" required>
              </div>
              <div>
                <label for="name">Montant:</label>
                <input type="number" name="" id="montant" required>
              </div>

              <div class="input-box">
                <label for="date">Date de paiement</label><br>
                <input type="date" id="date" formControlName="datePaiement" required><br><br>
              </div>
            </div>

          </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" form="myForm" class="btn btn-primary submit">Submit</button>
        </div>
      </div>
    </div>
  </div>
  -- Option 1: Bootstrap Bundle with Popper --
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
    --->