.print-button {
  border: none;
  background: none;
  font-size: 20px; /* Taille de l'icône */
  cursor: pointer;
}
.print-button:hover {
  color: #007bff; /* Couleur au survol */
}
.print-button:active {
  color: #007bff; /* Couleur au survol */
}
.badge {
  top: 1px; /* Ajustez la position verticalement */
  background-color: red; /* Couleur de fond du badge */
  color: white; /* Couleur du texte */
  border-radius: 50%; /* Forme ronde */
  padding: 0 0.5em; /* Espacement à l'intérieur */
  font-size: 0.7em; /* Taille de police */
  display: flex; /* Pour centrer le texte */
  justify-content: center; /* Pour centrer le texte */
  align-items: center; /* Pour centrer le texte */
}
  header {
      width: 100%;
      padding: 7px;
    
      color: rgb(8, 8, 8);     
    }
      
    .home-section .home-content {
      position: relative;
      padding-top: 20px;
    }
    .home-content .overview-boxes {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 0 20px;
      margin-bottom: 26px;
    }
    .overview-boxes .box {
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(100% / 4 - 35px);
      height: 130px;
      background: #0073e6;
      padding: 10px 5px;
      border-radius: 2px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }
    
    
    .image {
      text-align: center;
    }
    
    .image img {
      max-width: 100%; /* S'adapte à la largeur du conteneur */
      height: auto; /* Maintient les proportions de l'image */
    }
    
  
  
  .home-content .sales-boxes .recent-sales {
       width: 95%;
       background: white;
       padding: 30px 30px;
       margin: 0 20px;
       border-radius: 12px;
       border: 5px solid #cccaca;
       box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
   }
    
  
  
  
  .superimposed-container {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 89%; /* Par exemple, 95% de la largeur du parent */
    max-width: none; /* Assurez-vous qu'il n'y a pas de largeur maximale */
    margin-left: 0px; /* Supprimez les marges négatives */
    margin-right: 0; /* Supprimez les marges négatives */
  }
  
  .recent-sales {
    color: #e61c1c; /* Exemple de couleur cendre */
    /* Vous pouvez également ajouter d'autres styles si nécessaire */
    padding: 20px; /* Optionnel : ajout d'un peu de padding pour un meilleur espacement */
    border-radius: 8px; /* Optionnel : coins arrondis pour un effet visuel plus doux */
  }
  
  .table td {
    padding: 30px; /* Ajoute 10px de padding à l'intérieur de chaque cellule */
  }
  
  .clickable-image {
    cursor: pointer;
    transition: opacity 0.1s ease; /* Animation douce */
  }
  
  .clickable-image:hover {
    opacity: 0.1; /* Change l'opacité à 70% au survol */
  }